<nav id="sidebar">
    <div class="sidebar-header">
      <h3>admin</h3>
    </div>
    <ul class="list-unstyled components">
      
      <li><a href="#">Components</a></li>
      <li><a href="#">Utilities</a></li>
      <li><a href="#">Pages</a></li>

      <li><a routerLink="/" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/charts" routerLinkActive="active">Charts</a></li>
    <li><a routerLink="/tables" routerLinkActive="active">Tables</a></li>
      
    </ul>
  </nav>
  